.header-desc {
    text-align: center;
}

.color-main {
    color: #99195e;
}

.color-second {
    color: #cb297b
}

.highlight-text.main {
    color: #99195e;
}

.highlight-text.second {
    color: #cb297b;
}

/*

back up color : #ff6f00

*/