.header-desc {
    text-align: center;
}

.color-couleur1 {
    color: #99195e;
}

.color-couleur2 {
    color: #cb297b
}

.color-couleur3 {
    color: #d9a9c3
}

.highlight-text.couleur1 {
    color: #99195e;
}

.highlight-text.couleur2 {
    color: #cb297b;
}

.highlight-text.couleur3 {
    color: #d9a9c3;
}

h4 {
    color: #99195e;
}

h5 {
    color: #cb297b;
}

h6 {
    color: #d9a9c3;
}

/*

back up color : #ff6f00

*/