.header-desc {
    text-align: center;
}

.color-couleur1 {
    color: #99195e;
}

.color-couleur2 {
    color: #cb297b
}

.color-couleur3 {
    color: #bf6f9a
}

.highlight-text.couleur1 {
    color: #99195e;
}

.highlight-text.couleur2 {
    color: #cb297b;
}

.highlight-text.couleur3 {
    color: #bf6f9a;
}

h4 {
    color: #99195e;
}

h5 {
    color: #cb297b;
}

h6 {
    color: #bf6f9a;
}

/*

back up color : #ff6f00, #ff8c33

*/